{% extends "base.html" %}
{% block mainform %}

<!-- Main form -->
<form id='main-form' onsubmit='return false;'>

  <!-- Toolbar -->
  <div id="toolbar-div" class="container-fluid mt-2 mb-2">

    <div class="input-group align-bottom">

      <!-- Design name selector -->
      <div class="input-group-prepend">
        <label class="input-group-text" for="design-select">Design name:</label>
      </div>
      <select class="form-control" style="max-width: 300px;" id="design-select">
        <option value="Test plate design 1">Test plate design 1</option>
        <option value="Another plate design 1">Another plate design 1</option>
      </select>

      <!-- Verify button-->
      <!--
    <button type="button" id="verify-button" class="btn btn-info ml-2" onclick="verifyProtocolStepsJson(true)">Verify</button>
    -->
      <!-- Save buttons-->
      <button type="button" id="save-button" class="btn btn-info ml-2" data-toggle="modal"
        data-target="#save-protocol-modal">Save</button>

      <!-- Delete button-->
      <button type="button" id="verify-button" class="btn btn-info ml-2" data-toggle="modal"
        data-target="#delete-protocol-modal">Delete</button>

    </div>

  </div>
  <!-- end Toolbar -->

  <!-- Toolbar -->
  <div id="toolbar-div" class="container-fluid mt-2 mb-2">

    <div class="input-group align-bottom">

      <!-- Plate size selector -->
      <div class="input-group-prepend">
        <label class="input-group-text" for="plate-size-select">Plate size:</label>
      </div>
      <select class="form-control" style="max-width: 60px;" id="plate-size-select">
        <option value="96">96</option>
        <option value="384">384</option>
      </select>

    </div>
  </div>
  <!-- end Toolbar -->

          <!-- Toolbar -->
          <div id="toolbar-div" class="container-fluid mt-2 mb-2">

            <div class="input-group align-bottom">
  
              <div class="input-group-prepend">
                <label class="input-group-text" for="ncontrols">nControls:</label>
              </div>
              <input type="text" class="form-control" style="max-width: 50px;" id="ncontrols" value="5">  
  
            </div>
          </div>
          <!-- end Toolbar -->

  <!-- Toolbar -->
  <div id="toolbar-div" class="container-fluid mt-2 mb-2">
    <div class="input-group align-bottom">

      <!-- Compound selector -->
      <div class="input-group-prepend">
        <label class="input-group-text" for="plate-size-select">Compound:</label>
      </div>
      <select class="form-control" style="max-width: 150px;" id="compound-select">
        <option value="Compound-Alfa">Compound-Alfa</option>
        <option value="Compound-Beta">Compound-Beta</option>
      </select>

      <div class="input-group-prepend">
        <label class="input-group-text ml-2" for="concentrations">Concentrations:</label>
      </div>
      <input type="text" class="form-control" style="max-width: 200px;" id="concentrations" value="[20,10,5,2]">

      <div class="input-group-prepend">
        <label class="input-group-text ml-2" for="replicates">Replicates:</label>
      </div>
      <input type="text" class="form-control" style="max-width: 50px;" id="replicates" value="3">

      <button type="button" class="btn btn-info ml-2">Add</button>

    </div>
  </div>
  <!-- end Toolbar -->

  <!--Compounds div -->
  <div id="compounds-div" class="container-fluid flex-fill">

    <div class="form-group">
      <!--<label for="inputsm">Compounds</label>-->
      <textarea name="compounds-area" class="form-control compoundstextarea" rows=10 id="compounds-area">
        [
        {"comp":"Compound-Alfa","conc": [20,10,5,2], "replica:", 4},
        {"comp":"Compound-Beta","conc": [20,10,5,2], "replica:", 3}
        ]
    </textarea>
    </div>

  </div>


  <div id="table-div"class="container-fluid flex-fill">
  </div>


</form>

{% end %}


{% block endscripts %}

<script>

// Setup UI
initPlatedesignUI();

// jQuery init methods
$(document).ready(function () {

  // Attach event listeners
  $("#plate-size-select").change(function () {
    initPlatedesignUI();
  });

});

</script>

{% end %}