{% extends "base.html" %}

{% block mainform %}

<!-- Main form -->
<form id='main-form'>

<div class="container-fluid flex-fill">
  <br>
  <h4>Image Analyses per project and plate</h4>
</div>

<!-- Toolbar -->

<div id="toolbar-div" class="container-fluid mt-2 mb-2">

  <!-- Plate select -->
  <select class="form-control" style="max-width: 300px;" name="project-select" id="project-select" onchange="this.form.submit()">

    {% raw project_select_options %}

  </select>


  <div id="plate-table-div" class="overflow-auto mt-5 mb-2">

    <table id="image-analyses-per-plate-table" class="table text-xsmall">

    {% raw imgAnalysesTable %}

    </table>

  </div>


</div>
<!-- end Toolbar -->

<!-- end main Form -->
</form>

{% end %}


{% block dialogs %}

<!-- Modal dialog "Delete  ...." -->


{% end %}


{% block endscripts %}

<script>

</script>

{% end %}
