{% extends "base.html" %}

{% block mainform %}

<!-- Main form -->
<form id='main-form'>

<div class="container-fluid flex-fill">
  <br>
  <h4>Plate layout</h4>
</div>

<!-- Toolbar -->

<div id="toolbar-div" class="container-fluid mt-2 mb-2">

  <div class="input-group align-bottom">

    <!-- Layout select -->
    <select class="form-control" style="max-width: 300px;" name="layout-select" id="layout-select" onchange="this.form.submit()">

      {% raw layout_select_options %}

    </select>

    <!-- Import button-->
    <button type="button" id="import-plate_layout-button" class="btn btn-info ml-2" data-toggle="modal"
      data-target="#import-plate-layout-modal">Import Layout</button>

  </div>


  <div id="plate-layout-table-div" class="overflow-auto mt-2 mb-2">

    {% if len(visualPlateLayout) > 0 %}

      <table id="plate-visual-layout-table" class="plateTable text-xsmall">
        {% raw visualPlateLayout %}
      </table>

    {% else %}

    No visual layout

   {% end %}


  </div>


  <div id="plate-table-div" class="overflow-auto mt-5 mb-2">

    {% if len(plateLayoutTable) > 0 %}

      <table id="plate-layout-table" class="table text-xsmall">

        {% raw plateLayoutTable %}

      </table>
    {% else %}

       No rows in database

    {% end %}

  </div>


</div>
<!-- end Toolbar -->

<!-- end main Form -->
</form>

{% end %}


{% block dialogs %}

<!-- Modal dialog "Import  ...." -->
<div class="modal" data-backdrop="static" id="import-plate-layout-modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-xl" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">Import Plate-Layout</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>

      <div class="modal-body">
        <div class="form-group">
          <label for="new_table_rows_file">Browse tsv-file (tab separated)</label>
          <input type="file" class="form-control-file" id="new_table_rows_file">
        </div>
      </div>

      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary" onclick="apiImportPlateLayout()">Insert file to db</button>
      </div>
    </div>
  </div>
</div>


{% end %}


{% block endscripts %}

<script>

</script>

{% end %}
